/**
 * Overwrite the other stylesheets
 */
.carousel-indicators {
  z-index: 1;
}

.landing-page .full-background .info {
  z-index: 2;
}
/* that's all */


/**
 * Add more styling
 */
body {
  min-width: 317px;
}

#appBuildAnimationScene > * {
  position: fixed;
  z-index: 3;
}

#animation-button-container {
  margin: 100px auto;
  text-align: center;
}

#startAnimation {
  display: inline-block;
  color: #FFF;
  font-weight: bold;
  background-color: #538FBE;
  padding: 10px 32px;
  font-size: large;
  border: 1px solid #2D6898;
  background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%,
                                            rgb(90,150,199) 100%);
  background-image:    -moz-linear-gradient(bottom, rgb(88,154,204) 0%,
                                            rgb(90,150,199) 100%);
  background-image:      -o-linear-gradient(bottom, rgb(88,154,204) 0%,
                                            rgb(90,150,199) 100%);
  background-image:         linear-gradient(to top, rgb(88,154,204) 0%,
                                            rgb(90,150,199) 100%);
  border-radius: 5px !important;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 4px #2B638F, 0px 3px 15px rgba(0,0,0,0.4),
              inset 0px 1px 0px rgba(255,255,255,0.3),
              inset 0px 0px 3px rgba(255,255,255,0.5);
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}

#startAnimation:hover {
  background-image: -webkit-linear-gradient(bottom, rgb(79,142,191) 0%,
                                            rgb(102,166,214) 100%);
  background-image:    -moz-linear-gradient(bottom, rgb(79,142,191) 0%,
                                            rgb(102,166,214) 100%);
  background-image:      -o-linear-gradient(bottom, rgb(79,142,191) 0%,
                                            rgb(102,166,214) 100%);
  background-image:         linear-gradient(to top, rgb(79,142,191) 0%,
                                            rgb(102,166,214) 100%);
}

#startAnimation:focus {
  outline: none;
}

#startAnimation.btnActive {
  box-shadow: 0px 2px 2px #2B638F, 0px 1px 6px rgba(0,0,0,0.4),
              inset 0px 1px 0px rgba(255,255,255,0.3),
              inset 0px 0px 3px rgba(255,255,255,0.5);
  background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%,
                                            rgb(97,155,203) 100%);
  background-image:    -moz-linear-gradient(bottom, rgb(73,132,180) 0%,
                                            rgb(97,155,203) 100%);
  background-image:      -o-linear-gradient(bottom, rgb(73,132,180) 0%,
                                            rgb(97,155,203) 100%);
  background-image:         linear-gradient(to top, rgb(73,132,180) 0%,
                                            rgb(97,155,203) 100%);
  -webkit-transform: translate(0, 1px);
     -moz-transform: translate(0, 1px);
      -ms-transform: translate(0, 1px);
          transform: translate(0, 1px);
  cursor: default;
  padding: 10px 30px;
}

img.fileIcon {
  bottom: 100%;
  padding: 1px;
}

.fileIcon.left {
  left: 0;
}

.fileIcon.right {
  right: 0;
}

.fileIcon.middle {
  left: 50%;
}

#AppDir-back-side {
  background-color: transparent;
  background-image: url(../images/icons/folder-back_side.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
}

#AppDir-front-side {
  background-color: transparent;
  background-image: url(../images/icons/folder-front_side.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 4;
}

#AppDir-front-side h2 {
  color:#FFF;
  font-variant: small-caps;
  text-align: center;
  text-shadow: #CCC 0 1px 0, #C9C9C9 0 2px 0, #BBB 0 3px 0, #B9B9B9 0 4px 0,
               #AAA 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px,
               rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px,
               rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px,
               rgba(0,0,0,.1) 0 20px 20px;
}

#c-file-container, #vala-file-container {
  overflow: hidden;
  padding: 0;
}

#c-file, #vala-file {
  height: 100%;
  margin: 0;
  position: relative;
}

.compiled-code {
  margin: 0;
  padding: 1px;
  position: absolute;
  width: 100%;
}
